<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>On point zoom with Scrollwheel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta https-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="container">
    <h2>Image</h2>
    <hr>
    <form method="post">
      <div class="form-group">
        <input type="file" name="upload_file" class="form-control" placeholder="entername"
            onchange="getImagePreview(event)" />
    </div>
      <!-- <div id="navbar">
        <button type="button" onclick="zoomin()">
          <h6>+</h6>
        </button>
        <button type="button" onclick="zoomout()">
          <h6>--</h6>
        </button>
      </div> -->
      <div id="preview">

      </div>
      <div class="zoom_outer">
        <div id="zoom" onchange="getImagePreview(event)" >
          <!-- <img src="" alt="zoom" width="300"> -->
        </div>
      </div>
  </div>
  <script>

    function getImagePreview(event) {
      // console.log(event.target.files[0])
      var image = URL.createObjectURL(event.target.files[0]);
      var imagediv = document.getElementById("zoom");
      var newimg = document.createElement('img');
      imagediv.innerHTML = '';
      newimg.src = image;
      newimg.width = "400"
      imagediv.appendChild(newimg);
    }

    var scale = 1,
      panning = false,
      pointX = 0,
      pointY = 0,
      start = { x: 0, y: 0 },
      zoom = document.getElementById("zoom");
      

    function setTransform() {
      zoom.style.transform = "translate(" + pointX + "px, " + pointY + "px) scale(" + scale + ")";
    }

    zoom.onmousedown = function (e) {
      
      start = { x: e.clientX - pointX, y: e.clientY - pointY };
      panning = true;
    }

    zoom.onmouseup = function (e) {
      panning = false;
    }

    zoom.onmousemove = function (e) {
      e.preventDefault();
      if (!panning) {
        return;
      }
      pointX = (e.clientX - start.x);
      pointY = (e.clientY - start.y);
      setTransform();
    }

    zoom.onwheel = function (e) {
      e.preventDefault();
      var xs = (e.clientX - pointX) / scale,
        ys = (e.clientY - pointY) / scale,
        delta = (e.wheelDelta ? e.wheelDelta : -e.deltaY);
      (delta > 0) ? (scale *= 1.2) : (scale /= 1.2);
      pointX = e.clientX - xs * scale;
      pointY = e.clientY - ys * scale;

      setTransform();
    }

    if(pos.x>0)
	        pos.x = 0
	    if(pos.x+size.w*scale<size.w)
	    	pos.x = -size.w*(scale-1)
	    if(pos.y>0)
	        pos.y = 0
	     if(pos.y+size.h*scale<size.h)
	    	pos.y = -size.h*(scale-1)
  </script>
</body>

</html>
