{% extends 'base.html' %}


{%block title%} List {% endblock title %}


{% block body %} 


{% load imageuploader_extras %}

 <form method="GET" align="center" style="background:#dde7e9; padding-top: 3px; padding-bottom: 5px;">
  
        {% comment %} {{ filtered_images.form}} {% endcomment %}
  
        <tr>
          <th><label for="id_time_now" style="margin-left: 6px;">Date <i><u style="font-size:85%;">(yyyy-mm-date)</u></i>:</label></th>
          <td>
            
            <input type="text" name="time_now" id="id_time_now">
            
            
          </td>
        </tr>

        <tr>
          <th><label for="id_district">District:</label></th>
          <td>

            <select name="district" id="id_district">

                <option value="" selected>---------</option>

          <option value="Gawadar">Gawadar</option>

  <option value="Jaffarabad">Jaffarabad</option>

  <option value="Pishin">Pishin</option>

  <option value="Quetta">Quetta</option>

        <option value="None">None</option>

      </select>


          </td>
        </tr>

        <tr>
          <th><label for="id_tehsil">Tehsil:</label></th>
          <td>

            <select name="tehsil" id="id_tehsil">
        <option value="" selected>---------</option>

        <option value="Gawadar">Gawadar</option>

  <option value="Jiwani">Jiwani</option>

  <option value="Ormara">Ormara</option>

  <option value="Pasni">Pasni</option>

        <option value="None">None</option>

      </select>


          </td>
        </tr>

        <tr>
          <th><label for="id_patwar_circle">Patwar circle:</label></th>
          <td>

            <select name="patwar_circle" id="id_patwar_circle">
        <option value="" selected>---------</option>

        <option value="Ankara">Ankara</option>

  <option value="Chatti">Chatti</option>

  <option value="Chib Kalamati">Chib Kalamati</option>

  <option value="City">City</option>

  <option value="Dhor Ghatti">Dhor Ghatti</option>

  <option value="Gurandani">Gurandani</option>

  <option value="Jorkaan">Jorkaan</option>

  <option value="Karwaat">Karwaat</option>

  <option value="Ormara">Ormara</option>

  <option value="Paleri">Paleri</option>

  <option value="Pishukaan">Pishukaan</option>

  <option value="Settlement">Settlement</option>

  <option value="Shaabi">Shaabi</option>

  <option value="Surbandar">Surbandar</option>

        <option value="None">None</option>

      </select>


          </td>
        </tr>

        <tr>
          <th><label for="id_mauza">Mauza:</label></th>
          <td>

            <select name="mauza" id="id_mauza" style="width:9%;">
        <option value="" selected>---------</option>

        <option value="Ankara Junoobi">Ankara Junoobi</option>

  <option value="Ankara Shumali">Ankara Shumali</option>

  <option value="Chatti Junoobi">Chatti Junoobi</option>

  <option value="Chatti Shumali">Chatti Shumali</option>

  <option value="Darbela Shumali">Darbela Shumali</option>

  <option value="Kappar Gharbi">Kappar Gharbi</option>

  <option value="Kappar Sharqi">Kappar Sharqi</option>

  <option value="Mouza Baan">Mouza Baan</option>

  <option value="Mouza Ballada">Mouza Ballada</option>

  <option value="Mouza Bandari">Mouza Bandari</option>

  <option value="Mouza Bandi">Mouza Bandi</option>

  <option value="Mouza Basool">Mouza Basool</option>

  <option value="Mouza Chakkuli">Mouza Chakkuli</option>

  <option value="Mouza Chandi">Mouza Chandi</option>

  <option value="Mouza Cheb Rakhani">Mouza Cheb Rakhani</option>

  <option value="Mouza Chib Kalmati">Mouza Chib Kalmati</option>

  <option value="Mouza Chukken">Mouza Chukken</option>

  <option value="Mouza Chullani">Mouza Chullani</option>

  <option value="Mouza Churbandar">Mouza Churbandar</option>

  <option value="Mouza Daat">Mouza Daat</option>

  <option value="Mouza Darbela Junoobi">Mouza Darbela Junoobi</option>

  <option value="Mouza Door Ghatti">Mouza Door Ghatti</option>

  <option value="Mouza Dosi">Mouza Dosi</option>

  <option value="Mouza Espiyak">Mouza Espiyak</option>

  <option value="Mouza Faqeerabad">Mouza Faqeerabad</option>

  <option value="Mouza Ganz">Mouza Ganz</option>

  <option value="Mouza Garook">Mouza Garook</option>

  <option value="Mouza Garruki">Mouza Garruki</option>

  <option value="Mouza Gazdaan Bal">Mouza Gazdaan Bal</option>

  <option value="Mouza Ghamarwo">Mouza Ghamarwo</option>

  <option value="Mouza Ghatti">Mouza Ghatti</option>

  <option value="Mouza Ghoorhad">Mouza Ghoorhad</option>

  <option value="Mouza Gurandani Junoobi">Mouza Gurandani Junoobi</option>

  <option value="Mouza Gurrani">Mouza Gurrani</option>

  <option value="Mouza Haegani">Mouza Haegani</option>

  <option value="Mouza Jaffary">Mouza Jaffary</option>

  <option value="Mouza Jahoorkan">Mouza Jahoorkan</option>

  <option value="Mouza Kahoordan">Mouza Kahoordan</option>

  <option value="Mouza Kalmat">Mouza Kalmat</option>

  <option value="Mouza Kandalik">Mouza Kandalik</option>

  <option value="Mouza Kandasol">Mouza Kandasol</option>

  <option value="Mouza Kargoshki">Mouza Kargoshki</option>

  <option value="Mouza Keya Kalaat">Mouza Keya Kalaat</option>

  <option value="Mouza Kunnar Bal">Mouza Kunnar Bal</option>

  <option value="Mouza Maazwar">Mouza Maazwar</option>

  <option value="Mouza Makola Garbi">Mouza Makola Garbi</option>

  <option value="Mouza Makola Sharqi">Mouza Makola Sharqi</option>

  <option value="Mouza Maro">Mouza Maro</option>

  <option value="Mouza Mazzhani">Mouza Mazzhani</option>

  <option value="Mouza Mhal">Mouza Mhal</option>

  <option value="Mouza Nalient Sher Muhammad Bazar">Mouza Nalient Sher Muhammad Bazar</option>

  <option value="Mouza Nigore Shareef">Mouza Nigore Shareef</option>

  <option value="Mouza Okar">Mouza Okar</option>

  <option value="Mouza Ormara">Mouza Ormara</option>

  <option value="Mouza Paleri Gharbi">Mouza Paleri Gharbi</option>

  <option value="Mouza Paleri Sharqi">Mouza Paleri Sharqi</option>

  <option value="Mouza Panwan">Mouza Panwan</option>

  <option value="Mouza Passo">Mouza Passo</option>

  <option value="Mouza Pishal">Mouza Pishal</option>

  <option value="Mouza Pishukaan">Mouza Pishukaan</option>

  <option value="Mouza Praheen Tohk">Mouza Praheen Tohk</option>

  <option value="Mouza Qalandari">Mouza Qalandari</option>

  <option value="Mouza Rach">Mouza Rach</option>

  <option value="Mouza Robar">Mouza Robar</option>

  <option value="Mouza Rombdo">Mouza Rombdo</option>

  <option value="Mouza Sahiji Faqeer Muhammad Bazar">Mouza Sahiji Faqeer Muhammad Bazar</option>

  <option value="Mouza Sahiji Hassan Bazar">Mouza Sahiji Hassan Bazar</option>

  <option value="Mouza Sarchash">Mouza Sarchash</option>

  <option value="Mouza Shaabi">Mouza Shaabi</option>

  <option value="Mouza Shadi Kaur">Mouza Shadi Kaur</option>

  <option value="Mouza Shadikaur Junoobi">Mouza Shadikaur Junoobi</option>

  <option value="Mouza Sham">Mouza Sham</option>

  <option value="Mouza Shanekani Dar">Mouza Shanekani Dar</option>

  <option value="Mouza Shatangi">Mouza Shatangi</option>

  <option value="Mouza Shumal Bandan">Mouza Shumal Bandan</option>

  <option value="Mouza Sukhni">Mouza Sukhni</option>

  <option value="Mouza Surbandar">Mouza Surbandar</option>

  <option value="Mouza Tank">Mouza Tank</option>

  <option value="Mouza Thsk">Mouza Thsk</option>

  <option value="Mouza Washeen Dor">Mouza Washeen Dor</option>

  <option value="Mouza Zareen">Mouza Zareen</option>

  <option value="Mouza Ziarat Machi Gharbi">Mouza Ziarat Machi Gharbi</option>

  <option value="Mouza Ziarat Machi Sharqi">Mouza Ziarat Machi Sharqi</option>

  <option value="Ward Assa">Ward Assa</option>

  <option value="Ward Bagh Bazar Junoobi">Ward Bagh Bazar Junoobi</option>

  <option value="Ward Bagh Bazar Shumali">Ward Bagh Bazar Shumali</option>

  <option value="Ward Baloch">Ward Baloch</option>

  <option value="Ward Bangla Bazar">Ward Bangla Bazar</option>

  <option value="Ward Captain Murad Baksh">Ward Captain Murad Baksh</option>

  <option value="Ward Gazrawan">Ward Gazrawan</option>

  <option value="Ward Ghulam Sarwar Muhalla Junoobi">Ward Ghulam Sarwar Muhalla Junoobi</option>

  <option value="Ward Habib Lashkari">Ward Habib Lashkari</option>

  <option value="Ward Ismailia">Ward Ismailia</option>

  <option value="Ward Kareem Baksh">Ward Kareem Baksh</option>

  <option value="Ward Khauda Amanullah">Ward Khauda Amanullah</option>

  <option value="Ward Kohbun">Ward Kohbun</option>

  <option value="Ward Kohsar Garbi">Ward Kohsar Garbi</option>

  <option value="Ward Kohsar Sharqi">Ward Kohsar Sharqi</option>

  <option value="Ward Kolgari">Ward Kolgari</option>

  <option value="Ward Kummadi">Ward Kummadi</option>

  <option value="Ward Mahigeeran Garbi">Ward Mahigeeran Garbi</option>

  <option value="Ward Mir Lal Baksh">Ward Mir Lal Baksh</option>

  <option value="Ward Mir Rehmat Garbi">Ward Mir Rehmat Garbi</option>

  <option value="Ward Mujahid">Ward Mujahid</option>

  <option value="Ward Mullah Band">Ward Mullah Band</option>

  <option value="Ward Mullah Hashim">Ward Mullah Hashim</option>

  <option value="Ward Naguman">Ward Naguman</option>

  <option value="Ward Navy">Ward Navy</option>

  <option value="Ward Negwari">Ward Negwari</option>

  <option value="Ward Ormari Junobi">Ward Ormari Junobi</option>

  <option value="Ward Ormari Shumali">Ward Ormari Shumali</option>

  <option value="Ward Prahag Muhallah">Ward Prahag Muhallah</option>

  <option value="Ward Purana Market">Ward Purana Market</option>

  <option value="Ward Qazi Rehmat Sharqi">Ward Qazi Rehmat Sharqi</option>

  <option value="Ward Raeesani">Ward Raeesani</option>

  <option value="Ward Saleh Muhammad">Ward Saleh Muhammad</option>

  <option value="Ward Senator Ishaq">Ward Senator Ishaq</option>

  <option value="Ward Shadoband">Ward Shadoband</option>

  <option value="Ward Shambay Ismail">Ward Shambay Ismail</option>

  <option value="Ward Shehzada Bazar Janoobi">Ward Shehzada Bazar Janoobi</option>

  <option value="Ward Sheikh Umer">Ward Sheikh Umer</option>

  <option value="Ward Sohrabi">Ward Sohrabi</option>

  <option value="Ward Thana">Ward Thana</option>

  <option value="Ward Tobag">Ward Tobag</option>

  <option value="Ward Usmania">Ward Usmania</option>

  <option value="Ward Zahoor Shah Hashmi">Ward Zahoor Shah Hashmi</option>

  <option value="Ward Zobag Muhalla Junoobi">Ward Zobag Muhalla Junoobi</option>

      </select>


          </td>
        </tr>

        <tr>
          <th><label for="id_massavi_no">Massavi no:</label></th>
          <td>

            <select name="massavi_no" id="id_massavi_no" style="width:7%;">
        <option value="" selected>---------</option>

  <option value="A-1">A-1</option>

  <option value="A-2">A-2</option>

  <option value="A-3">A-3</option>

  <option value="A-4">A-4</option>

  <option value="A-5">A-5</option>

  <option value="A-6">A-6</option>

  <option value="A-7">A-7</option>

  <option value="A-8">A-8</option>

  <option value="A-9">A-9</option>

  <option value="A-10">A-10</option>

  <option value="A-11">A-11</option>

  <option value="A-12">A-12</option>

  <option value="A-13">A-13</option>

  <option value="A-14">A-14</option>

  <option value="A-15">A-15</option>

  <option value="A-16">A-16</option>

  <option value="B-1">B-1</option>

  <option value="B-2">B-2</option>

  <option value="B-3">B-3</option>

  <option value="B-4">B-4</option>

  <option value="B-5">B-5</option>

  <option value="B-6">B-6</option>

  <option value="B-7">B-7</option>

  <option value="B-8">B-8</option>

  <option value="B-9">B-9</option>

  <option value="B-10">B-10</option>

  <option value="B-11">B-11</option>

  <option value="B-12">B-12</option>

  <option value="B-13">B-13</option>

  <option value="B-14">B-14</option>

  <option value="B-15">B-15</option>

  <option value="B-16">B-16</option>

  <option value="J-1">J-1</option>

  <option value="J-2">J-2</option>

  <option value="J-3">J-3</option>

  <option value="J-4">J-4</option>

  <option value="J-5">J-5</option>

  <option value="J-6">J-6</option>

  <option value="J-7">J-7</option>

  <option value="J-8">J-8</option>

  <option value="J-9">J-9</option>

  <option value="J-10">J-10</option>

  <option value="J-11">J-11</option>

  <option value="J-12">J-12</option>

  <option value="J-13">J-13</option>

  <option value="J-14">J-14</option>

  <option value="J-15">J-15</option>

  <option value="J-16">J-16</option>

  <option value="D-1">D-1</option>

  <option value="D-2">D-2</option>

  <option value="D-3">D-3</option>

  <option value="D-4">D-4</option>

  <option value="D-5">D-5</option>

  <option value="D-6">D-6</option>

  <option value="D-7">D-7</option>

  <option value="D-8">D-8</option>

  <option value="D-9">D-9</option>

  <option value="D-10">D-10</option>

  <option value="D-11">D-11</option>

  <option value="D-12">D-12</option>

  <option value="D-13">D-13</option>

  <option value="D-14">D-14</option>

  <option value="D-15">D-15</option>

  <option value="D-16">D-16</option>

  <option value="H-1">H-1</option>

  <option value="H-2">H-2</option>

  <option value="H-3">H-3</option>

  <option value="H-4">H-4</option>

  <option value="H-5">H-5</option>

  <option value="H-6">H-6</option>

  <option value="H-7">H-7</option>

  <option value="H-8">H-8</option>

  <option value="H-9">H-9</option>

  <option value="H-10">H-10</option>

  <option value="H-11">H-11</option>

  <option value="H-12">H-12</option>

  <option value="H-13">H-13</option>

  <option value="H-14">H-14</option>

  <option value="H-15">H-15</option>

  <option value="H-16">H-16</option>

  <option value="W-1">W-1</option>

  <option value="W-2">W-2</option>

  <option value="W-3">W-3</option>

  <option value="W-4">W-4</option>

  <option value="W-5">W-5</option>

  <option value="W-6">W-6</option>

  <option value="W-7">W-7</option>

  <option value="W-8">W-8</option>

  <option value="W-9">W-9</option>

  <option value="W-10">W-10</option>

  <option value="W-11">W-11</option>

  <option value="W-12">W-12</option>

  <option value="W-13">W-13</option>

  <option value="W-14">W-14</option>

  <option value="W-15">W-15</option>

  <option value="W-16">W-16</option>

  <option value="Z-1">Z-1</option>

  <option value="Z-2">Z-2</option>

  <option value="Z-3">Z-3</option>

  <option value="Z-4">Z-4</option>

  <option value="Z-5">Z-5</option>

  <option value="Z-6">Z-6</option>

  <option value="Z-7">Z-7</option>

  <option value="Z-8">Z-8</option>

  <option value="Z-9">Z-9</option>

  <option value="Z-10">Z-10</option>

  <option value="Z-11">Z-11</option>

  <option value="Z-12">Z-12</option>

  <option value="Z-13">Z-13</option>

  <option value="Z-14">Z-14</option>

  <option value="Z-15">Z-15</option>

  <option value="Z-16">Z-16</option>

  <option value="T-1">T-1</option>

  <option value="T-2">T-2</option>

  <option value="T-3">T-3</option>

  <option value="T-4">T-4</option>

  <option value="T-5">T-5</option>

  <option value="T-6">T-6</option>

  <option value="T-7">T-7</option>

  <option value="T-8">T-8</option>

  <option value="T-9">T-9</option>

  <option value="T-10">T-10</option>

  <option value="T-11">T-11</option>

  <option value="T-12">T-12</option>

  <option value="T-13">T-13</option>

  <option value="T-14">T-14</option>

  <option value="T-15">T-15</option>

  <option value="T-16">T-16</option>

  <option value="Y-1">Y-1</option>

  <option value="Y-2">Y-2</option>

  <option value="Y-3">Y-3</option>

  <option value="Y-4">Y-4</option>

  <option value="Y-5">Y-5</option>

  <option value="Y-6">Y-6</option>

  <option value="Y-7">Y-7</option>

  <option value="Y-8">Y-8</option>

  <option value="Y-9">Y-9</option>

  <option value="Y-10">Y-10</option>

  <option value="Y-11">Y-11</option>

  <option value="Y-12">Y-12</option>

  <option value="Y-13">Y-13</option>

  <option value="Y-14">Y-14</option>

  <option value="Y-15">Y-15</option>

  <option value="Y-16">Y-16</option>

  <option value="K-1">K-1</option>

  <option value="K-2">K-2</option>

  <option value="K-3">K-3</option>

  <option value="K-4">K-4</option>

  <option value="K-5">K-5</option>

  <option value="K-6">K-6</option>

  <option value="K-7">K-7</option>

  <option value="K-8">K-8</option>

  <option value="K-9">K-9</option>

  <option value="K-10">K-10</option>

  <option value="K-11">K-11</option>

  <option value="K-12">K-12</option>

  <option value="K-13">K-13</option>

  <option value="K-14">K-14</option>

  <option value="K-15">K-15</option>

  <option value="K-16">K-16</option>

  <option value="L-1">L-1</option>

  <option value="L-2">L-2</option>

  <option value="L-3">L-3</option>

  <option value="L-4">L-4</option>

  <option value="L-5">L-5</option>

  <option value="L-6">L-6</option>

  <option value="L-7">L-7</option>

  <option value="L-8">L-8</option>

  <option value="L-9">L-9</option>

  <option value="L-10">L-10</option>

  <option value="L-11">L-11</option>

  <option value="L-12">L-12</option>

  <option value="L-13">L-13</option>

  <option value="L-14">L-14</option>

  <option value="L-15">L-15</option>

  <option value="L-16">L-16</option>

  <option value="M-1">M-1</option>

  <option value="M-2">M-2</option>

  <option value="M-3">M-3</option>

  <option value="M-4">M-4</option>

  <option value="M-5">M-5</option>

  <option value="M-6">M-6</option>

  <option value="M-7">M-7</option>

  <option value="M-8">M-8</option>

  <option value="M-9">M-9</option>

  <option value="M-10">M-10</option>

  <option value="M-11">M-11</option>

  <option value="M-12">M-12</option>

  <option value="M-13">M-13</option>

  <option value="M-14">M-14</option>

  <option value="M-15">M-15</option>

  <option value="M-16">M-16</option>

  <option value="N-1">N-1</option>

  <option value="N-2">N-2</option>

  <option value="N-3">N-3</option>

  <option value="N-4">N-4</option>

  <option value="N-5">N-5</option>

  <option value="N-6">N-6</option>

  <option value="N-7">N-7</option>

  <option value="N-8">N-8</option>

  <option value="N-9">N-9</option>

  <option value="N-10">N-10</option>

  <option value="N-11">N-11</option>

  <option value="N-12">N-12</option>

  <option value="N-13">N-13</option>

  <option value="N-14">N-14</option>

  <option value="N-15">N-15</option>

  <option value="N-16">N-16</option>

  <option value="S-1">S-1</option>

  <option value="S-2">S-2</option>

  <option value="S-3">S-3</option>

  <option value="S-4">S-4</option>

  <option value="S-5">S-5</option>

  <option value="S-6">S-6</option>

  <option value="S-7">S-7</option>

  <option value="S-8">S-8</option>

  <option value="S-9">S-9</option>

  <option value="S-10">S-10</option>

  <option value="S-11">S-11</option>

  <option value="S-12">S-12</option>

  <option value="S-13">S-13</option>

  <option value="S-14">S-14</option>

  <option value="S-15">S-15</option>

  <option value="S-16">S-16</option>

  <option value="E-1">E-1</option>

  <option value="E-2">E-2</option>

  <option value="E-3">E-3</option>

  <option value="E-4">E-4</option>

  <option value="E-5">E-5</option>

  <option value="E-6">E-6</option>

  <option value="E-7">E-7</option>

  <option value="E-8">E-8</option>

  <option value="E-9">E-9</option>

  <option value="E-10">E-10</option>

  <option value="E-11">E-11</option>

  <option value="E-12">E-12</option>

  <option value="E-13">E-13</option>

  <option value="E-14">E-14</option>

  <option value="E-15">E-15</option>

  <option value="E-16">E-16</option>

  <option value="F-1">F-1</option>

  <option value="F-2">F-2</option>

  <option value="F-3">F-3</option>

  <option value="F-4">F-4</option>

  <option value="F-5">F-5</option>

  <option value="F-6">F-6</option>

  <option value="F-7">F-7</option>

  <option value="F-8">F-8</option>

  <option value="F-9">F-9</option>

  <option value="F-10">F-10</option>

  <option value="F-11">F-11</option>

  <option value="F-12">F-12</option>

  <option value="F-13">F-13</option>

  <option value="F-14">F-14</option>

  <option value="F-15">F-15</option>

  <option value="F-16">F-16</option>

  <option value="SW-1">SW-1</option>

  <option value="SW-2">SW-2</option>

  <option value="SW-3">SW-3</option>

  <option value="SW-4">SW-4</option>

  <option value="SW-5">SW-5</option>

  <option value="SW-6">SW-6</option>

  <option value="SW-7">SW-7</option>

  <option value="SW-8">SW-8</option>

  <option value="SW-9">SW-9</option>

  <option value="SW-10">SW-10</option>

  <option value="SW-11">SW-11</option>

  <option value="SW-12">SW-12</option>

  <option value="SW-13">SW-13</option>

  <option value="SW-14">SW-14</option>

  <option value="SW-15">SW-15</option>

  <option value="SW-16">SW-16</option>

  <option value="Q-1">Q-1</option>

  <option value="Q-2">Q-2</option>

  <option value="Q-3">Q-3</option>

  <option value="Q-4">Q-4</option>

  <option value="Q-5">Q-5</option>

  <option value="Q-6">Q-6</option>

  <option value="Q-7">Q-7</option>

  <option value="Q-8">Q-8</option>

  <option value="Q-9">Q-9</option>

  <option value="Q-10">Q-10</option>

  <option value="Q-11">Q-11</option>

  <option value="Q-12">Q-12</option>

  <option value="Q-13">Q-13</option>

  <option value="Q-14">Q-14</option>

  <option value="Q-15">Q-15</option>

  <option value="Q-16">Q-16</option>

  <option value="R-1">R-1</option>

  <option value="R-2">R-2</option>

  <option value="R-3">R-3</option>

  <option value="R-4">R-4</option>

  <option value="R-5">R-5</option>

  <option value="R-6">R-6</option>

  <option value="R-7">R-7</option>

  <option value="R-8">R-8</option>

  <option value="R-9">R-9</option>

  <option value="R-10">R-10</option>

  <option value="R-11">R-11</option>

  <option value="R-12">R-12</option>

  <option value="R-13">R-13</option>

  <option value="R-14">R-14</option>

  <option value="R-15">R-15</option>

  <option value="R-16">R-16</option>

  <option value="HI-1">HI-1</option>

  <option value="HI-2">HI-2</option>

  <option value="HI-3">HI-3</option>

  <option value="HI-4">HI-4</option>

  <option value="HI-5">HI-5</option>

  <option value="HI-6">HI-6</option>

  <option value="HI-7">HI-7</option>

  <option value="HI-8">HI-8</option>

  <option value="HI-9">HI-9</option>

  <option value="HI-10">HI-10</option>

  <option value="HI-11">HI-11</option>

  <option value="HI-12">HI-12</option>

  <option value="HI-13">HI-13</option>

  <option value="HI-14">HI-14</option>

  <option value="HI-15">HI-15</option>

  <option value="HI-16">HI-16</option>

  <option value="SH-1">SH-1</option>

  <option value="SH-2">SH-2</option>

  <option value="SH-3">SH-3</option>

  <option value="SH-4">SH-4</option>

  <option value="SH-5">SH-5</option>

  <option value="SH-6">SH-6</option>

  <option value="SH-7">SH-7</option>

  <option value="SH-8">SH-8</option>

  <option value="SH-9">SH-9</option>

  <option value="SH-10">SH-10</option>

  <option value="SH-11">SH-11</option>

  <option value="SH-12">SH-12</option>

  <option value="SH-13">SH-13</option>

  <option value="SH-14">SH-14</option>

  <option value="SH-15">SH-15</option>

  <option value="SH-16">SH-16</option>

  <option value="TH-1">TH-1</option>

  <option value="TH-2">TH-2</option>

  <option value="TH-3">TH-3</option>

  <option value="TH-4">TH-4</option>

  <option value="TH-5">TH-5</option>

  <option value="TH-6">TH-6</option>

  <option value="TH-7">TH-7</option>

  <option value="TH-8">TH-8</option>

  <option value="TH-9">TH-9</option>

  <option value="TH-10">TH-10</option>

  <option value="TH-11">TH-11</option>

  <option value="TH-12">TH-12</option>

  <option value="TH-13">TH-13</option>

  <option value="TH-14">TH-14</option>

  <option value="TH-15">TH-15</option>

  <option value="TH-16">TH-16</option>

  <option value="C-1">C-1</option>

  <option value="C-2">C-2</option>

  <option value="C-3">C-3</option>

  <option value="C-4">C-4</option>

  <option value="C-5">C-5</option>

  <option value="C-6">C-6</option>

  <option value="C-7">C-7</option>

  <option value="C-8">C-8</option>

  <option value="C-9">C-9</option>

  <option value="C-10">C-10</option>

  <option value="C-11">C-11</option>

  <option value="C-12">C-12</option>

  <option value="C-13">C-13</option>

  <option value="C-14">C-14</option>

  <option value="C-15">C-15</option>

  <option value="C-16">C-16</option>


        <option value="None">None</option>

      </select>
            
            
              
            
          </td>
        </tr>
        
        &nbsp;
        &nbsp;



        <button clas="btn btn-primary" type="Submit" style="margin-bottom: 0px;background:#3cb371; color:white; margin-top: 0.25%; width:8%;">Search</button>
      
      <br>

  
</form> 


<br>
<br>

<table class="table table-bordered" style="border:solid black 1.5px;">
    <thead style="color: white; font-size: 17px; background:#d2b48c; border:solid black 1.5px;" align="center">
      <tr>
        
        <th scope="col">Sno</th>
        <th scope="col">ID</th>
        <th scope="col">Date</th>
        <th scope="col">Data_Type</th>
        <th scope="col">Image</th>
        <th scope="col">District</th>
        <th scope="col">Tehsil</th>
        <th scope="col">Patwar_Circle</th>
        <th scope="col">Mauza/Ward</th>
        <th scope="col">Massavi_No</th>
      </tr>
    </thead>

    <tbody style="font:16px;">
        {% for uploadimage in person_page_obj %}
        <tr>
        
          
          <td>{{forloop.counter0|add:person_page_obj.start_index}}</td>
          <td>{{uploadimage.form_id}}</td>
          <td>{{uploadimage.time_now}}</td>
          <td>{{uploadimage.type_data}}</td>
          <td><a href="/media/{{uploadimage.image}}">{{uploadimage.image}}</a></td>
          <td>{{uploadimage.district}}</td>
          <td>{{uploadimage.tehsil}}</td>
          <td>{{uploadimage.patwar_circle}}</td>
          <td>{{uploadimage.mauza}}</td>
          <td>{{uploadimage.massavi_no}}</td>
        </tr>
        {% endfor %}
        
      </tbody>

</table>
<br>
<div>

  <p align="center">Page <b>{{person_page_obj.number}}</b> of <b>{{person_page_obj.paginator.num_pages}}</b></p>

</div>
<br>
<ul style="margin-left: 44.2%;" class="pagination">
  {% if person_page_obj.has_previous %}

  <li style="position: absolute;"><a href="{% relative_url 1 'page' request.GET.urlencode %}"><button>&laquo; first</button></a></li>
  <li><a href="{% relative_url person_page_obj.previous_page_number 'page' request.GET.urlencode %}" previous></a></li>

  
  {% endif %}

  

  {% if person_page_obj.has_next %}
  

  <li style="margin-left:4.78%;position: absolute;"><a href="{% relative_url person_page_obj.next_page_number 'page' request.GET.urlencode %}"> <button>next &raquo;</button></a></li>
  
  <li style="margin-left: 9.8%;position: absolute;"><a href="{% relative_url person_page_obj.paginator.num_pages 'page' request.GET.urlencode %}"><button>last</button></a></li>


  {% endif %}



</ul>

{% endblock body %}